


<div class="exp-detail-container">
  <div class="about-containers">
    <div class="details-container">
      <h2 class="exp-sub-title">Frontend Developer</h2>
      <div class="article_container">
        <div *ngFor="let item of experiences">
          <article>
            <img
              src="./assets/patch-check-fill.svg"
              alt="checkmark"
              class="icon"
            />
            <div>
              <h3>{{ item.name }}</h3>
              <p>{{ item.level }}</p>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="details-container">
      <h2 class="exp-sub-title">Backend Developer</h2>
      <div class="article_container">
        <div *ngFor="let item of experiences">
          <article>
            <img
              src="./assets/patch-check-fill.svg"
              alt="checkmark"
              class="icon"
            />
            <div>
              <h3>{{ item.dbName }}</h3>
              <p>{{ item.dbExperties }}</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
  <button (click)="sendData()">Download CV</button>
</div>
