
<section class="contact">
<p class="section_text_p1">Get In Touch</p>
<h1 class="text_p1">Contact Me</h1>
<div class="contact-info-upper-container">
    <div class="contact-info-container">
        <img src="./assets/mail.svg"alt="" class="icon conatct-icon"/>
        <p><a [href]="'mailTo:'+ emailAddress">Email</a></p>
    </div>
    <div class="contact-info-container">
        <img src="./assets/linkedin.svg"alt="" class="icon conatct-icon"/>
        <p><a [href]="linkedInLink">LinkedIn</a></p>
    </div>
</div>
</section>
